.btn {
	width: 100%;
	height: 3.5rem;
	border-radius: 4px;
	border: none;
	background-color: var(--pink);
	font-family: 'Work Sans', sans-serif;
	color: var(--bg-white);
	font-size: 1.4rem;
	font-weight: 700;
}
