.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: rgba(28, 25, 25, 0.9);
}

.ErrorModal {
	background-color: rgb(28, 25, 25);
	color: #ec315a;
	padding: 20px;
	border-radius: 8px;
	width: 80%;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
