.shoe-button {
	width: 100%;
	padding: 10px;
	border: none;
	text-align: left;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.4rem;
	font-weight: 350;
	color: var(--text-black);
	background-color: var(--bg-white);
}

.shoe-options {
	width: 80%;
	position: absolute;
	max-height: 160px;
	overflow-y: auto;
	border: 1px solid var(--purple);
	z-index: 20;
	margin-top: 2px;
	background-color: var(--bg-white);
}

.shoe {
	font-size: 1.2rem;
	padding: 5px 12px;
}
