@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--purple: #441d81;
	--pink: #ec315a;
	--bg-white: #fff4f1;
	--text-black: #222222;
	--white: #ffffff;
	--brown: #1c1919;
}

* .app-container {
	background-color: var(--bg-white);
	width: 100%;
	height: 0 auto;
}
